<!-- <div class="container-fluid">
    <div class="row">
        <div class="col text-white">{{title}}</div>
    </div>
  
  <app-page1></app-page1>
  <app-page2></app-page2>
  
  
</div>

<router-outlet></router-outlet> -->


<div>
  <ul>
    <li *ngFor="let d of day, let i = index">{{i+1}} {{d}}</li>
  </ul>
</div>


<div>
  <ul  *ngFor="let group of peopleCountry">
    <li> {{group.Country}}</li>
    <ul>
    <li *ngFor="let itemPerson of group.People">{{itemPerson.Name}} {{itemPerson.FirstName}}</li>
    </ul>
  </ul>
</div>

<!--https://codecraft.tv/courses/angular/built-in-directives/ngfor/-->